<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings page</title>
</head>
<body>
  <section class="settings-wrapper">
    <div class="settings">
      <div class="settings__load slide-management">
        <button class="settings__load-btn">
          <span class="settings__load-btn--line"></span>
          <span class="settings__load-btn--line"></span>
        </button>

        <div class="settings__load-file-wrapper">
          <label for="slideFile" class="settings__load-placeholder"></label>
          <input id="slideFile" type="text" class="settings__load-file">
        </div>
      </div>
      <div class="slide-management">

      </div>
    </div>
    <div class="settings"></div>
  </section>
</body>
</html>
