$setting-active-color: #59A7EE;
$border: 1px solid $setting-active-color;
$setting-fon-color: #9CD5F5;
$setting-fon: rgba($setting-fon-color, 0.29);
$setting-fon-active: rgba($setting-fon-color, 0.49);
$white: #FFFFFF;
$white-transparent: rgba($white, 0.27);
