.settings {
  &__load {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

    &-btn {
      position: relative;
      @include miniRectangle($white-transparent, $white);

      &--line {
        position: absolute;
        background-color: $white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 18px;
        border-radius: 1px;

        &:last-child {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}