@import "colors";
@import "mixins";
@import "load";

.settings {
  &-wrapper {
    display: flex;
    padding: 40px 40px 0;
    margin-bottom: 50px;
  }
}

.slide-management {
  max-width: calc(220px - 13px * 2);
  border-radius: 3px;
  border: $border;
  padding: 0 13px;
}
